.button {
  background-color: aqua;
  border: none;
  padding: 10px 10px;
  text-align: center;
  border-radius: 16px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: default;
  text-shadow: 4px 4px 4px #000;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Trebuchet MS", "Cambria", "Cochin", "Georgia",
    "Times", "serif";
}

h3 {
  font-family:Georgia, 'Times New Roman', Times, serif;
}
h4,
h5 {
  font-family: "Roboto";
}

h2 {
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    "sans-serif";
  font-weight: bolder;
  display: block;
}

h6 {
  font-family: "Gill Sans";
}

body {
  font-family: "Trebuchet MS";
}

.myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: aqua;
  z-index: 99;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 16px;
}

.myBtn:hover {
  background-color: rgb(0, 255, 255);
}

table,
th,
td {
  border: 1px solid black;
}

hr {
  height: 3px;
  border-width: 0;
  background-color: rgb(0, 255, 255);
}

#p1 {
  text-align: left;
}

#Services {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
}

details > summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}
/*
summary::after {
  content: " 👇";
  font-size: 2.5rem;
}

details[open] summary:after {
  content: " ☝️";
}
*/
* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#hamburger {
  margin-top: 8vh;
  z-index: 1001;
  position: fixed;
  top: 0;
}

@media only screen and (max-width: 992px) {
  .checkbtn {
    display: block;
    font-size: 5rem;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .nav-mobile {
    top: 0px;
    width: 100%;
  }
  .nav-mobile a {
    font-size: 2rem;
    padding: 2rem 3rem;
  }
}

#Home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  padding-top: 10px;
}

@media only screen and (max-width: 768px) {
  #Home {
    background-attachment: scroll; /* Fix for mobile devices */
  }

  .welcome-content h1 {
    font-size: 2em; /* Adjust font size for mobile */
  }
}

#navbar {
  padding: 0px 15px 15px 0px; /* top, right, bottom, left */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 65px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allows items to wrap to the next line if there's not enough space */
  text-align: center;
  padding: 10px;
}

.footer-container a {
  text-decoration: none;
  color: inherit;
  margin: 0 10px; /* Adjust spacing between items */
}

.footer-text {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

#contactus {
  background-color: #fff; /* Background color */
  border-radius: 5px;
  color: rgb(0, 0, 0); /* Text color */
  padding: 10px 24px; /* Padding inside the button */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline from text */
  display: inline-block; /* Display inline */
  font-size: 16px; /* Text size */
  cursor: pointer; /* Cursor changes to pointer when hovering */
  transition: background-color 0.5s, color 0.5s; /* Smooth transition */
}

#contactus.hover {
  background-color: aqua; /* Background color on hover */
}

.grid-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.grid-cards-container1 {
  display: flex;
  gap: 2rem;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping of the divs */
  padding: 10px;
}

#cardservices {
  min-width: 350px; /* Set a minimum width for each div */
  height: auto; /* Allow height to adjust based on content */
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  margin-right: 10px; /* Space between divs */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box; /* Include padding in width calculation */
  overflow: hidden; /* Hide overflow if necessary */
  text-align: center; /* Center align text */
  white-space: normal; /* Allow text to wrap */
}

.grid-card {
  height: 100%;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 768px) {
  .grid-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

#scroll-progress {
  position: fixed;
  top: 0;
  width: 0%;
  height: 4px;
  background: rgb(0, 255, 255);
  z-index: 10000;
}